<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="img/favicon.ico" />
    <meta name="description" content="一个简洁，美观，无广告的导航页。" />
    <meta name="keywords" content="导航，个性化" />
    <title>魂淡导航</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/website.css" />
    <!--[if lt IE 7]>
      <script src="js/respond.js"></script>
      <script src="js/html5.js"></script>
    <![endif]-->

    <!--jquery v1.9-->
    <script type="text/javascript" src="js/jquery.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script type="text/javascript" src="js/angularjs.js"></script>
    <!-- public -->
    <script type="text/javascript" src="js/public.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>

</head>

<body ng-app="myapp" ng-controller="mycon" style="position: relative" class="body_bg">
  <canvas id="canv"></canvas>
  <section class="container-fluid hd_box hd_box_bg">
      <!--<h2 class="text-center site_title hidden-xs">魂淡导航</h2>-->
      <h2 class="text-center site_title hidden-xs">
          <span class=""><img src="img/logo.png" width="32" height="32" class="img-responsive img-circle logo">魂淡导航</span>
      </h2>
      <div class="row">
          <div class="input-group input-group-lg hd_search_bar">
              <span class="input-group-addon hd_search_btn">
                  <select class="btn btn-lg hd_search_engine" ng-model="mysite" ng-options="x.name for x in SE_sites"></select>
              </span>
              <input type="text" id="search_keyword" class="form-control search_keyword" placeholder="搜索..." ng-model="search" autofocus="autofocus">
              <span class="input-group-addon hd_search_btn" ng-click="fun_search()">
                  <button class="btn btn-lg" type="button" >
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  </button>
              </span>

          </div>
      </div>


      <div class="row nav_group_box" ng-repeat="gruop in websites">
          <a class="nav_group_title col-lg-2 col-md-2 col-sm-3 col-xs-12"><span ng-bind="gruop.name"></span>：</a>
          <ul class="list-inline nav_group col-lg-10 col-md-10 col-sm-9 col-cs-12">
              <li  ng-repeat="x in gruop.items" class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
                  <a class="btn btn-lg btn-success" target="_blank" ng-href="{{x.url}}">
                      <img class="site_logo" ng-src="{{x.imglink}}"><span ng-bind="x.name"></span></a>
              </li>
          </ul>
      </div>

  </section>

</body>
</html>
<script>
    if(IsPC()){
        func_background_init();//启用背景特效
    }
</script>
